[2018-02-21 02:36] kallisti5 opened #1 "rtu non-functional when used"
**main.rs**
[code]

***Cargo.toml***
[code]

***Results***
[code]

[2018-02-21 09:46] flosse commented on #1
It looks like you are using `tokio_modbus` `v0.1.0` that has a [different API](https://docs.rs/tokio-modbus/0.1.0/tokio_modbus/struct.RtuClient.html).
The current master branch should lead to `v0.2.0` but first these issues should be closed:
- https://github.com/tokio-rs/tokio-proto/issues/204
- https://github.com/tokio-rs/tokio-proto/issues/202
- https://github.com/tokio-rs/tokio/issues/118

So i

[2018-03-30 13:16] flosse commented on #1
I just published `v0.2.0` so you can use it as usual :)

[2018-03-30 13:16] #1 closed

[2018-11-30 06:13] aleksey-r opened #3 "Windows support"
**main.rs**
[code]

**Cargo.toml**

[code]

**Results**
[code]

[2018-11-30 10:16] flosse commented on #3
@aleksey-r Thanks for reporting!
I added a configuration appveyor to run a windows CI:
https://ci.appveyor.com/project/flosse/tokio-modbus

I'll have a closer look at it soon.

[2018-11-30 11:59] flosse commented on #3
@aleksey-r Could you try to use `tokio-serial = "0.6"` and remove the `default-features = false`?

[code]

[2018-11-30 12:36] flosse commented on #3
@aleksey-r Could you try to reproduce this with this repo: https://github.com/flosse/tokio-modbus-issue-3

[2018-11-30 13:43] aleksey-r commented on #3
[code]

[2018-11-30 13:46] flosse commented on #3
hm...that is interesting.

[2018-11-30 13:50] flosse commented on #3
ok, I think tokio-serial is not available for windows in v0.6: https://github.com/berkowski/tokio-serial/blob/33bf3e57f05afa1642a3025d225b7128e35af3b7/src/lib.rs#L27

[2018-11-30 13:51] flosse commented on #3
So could you try to run the newest [tokio-serial example](https://github.com/berkowski/tokio-serial/blob/master/examples/serial_println.rs) on windows?

[2018-12-01 12:43] flosse commented on #3
@aleksey-r I meant the latest example of `tokio-serial` only: https://github.com/berkowski/tokio-serial/blob/master/examples/serial_println.rs

[2018-12-01 13:46] flosse commented on #3
...anyway, increasing the version of the `tokio-serial` dependency would be a breaking change.

@uklotzde what do you think, shall we release a `v0.3.x` that is equal `v0.2` but depends on `tokio-serial` v3.1?

[2018-12-01 14:05] uklotzde commented on #3
I will rebase my current _work-in-progress_ on _master_ and adopt a new version number.

[2018-12-01 14:40] aleksey-r commented on #3
tokio-serial example works fine on windows 10

[code]

[2018-12-01 14:50] flosse commented on #3
The current master [is now working on appveyor](https://ci.appveyor.com/project/flosse/tokio-modbus/build/job/1mucv6fn12hw05vq) :)

@aleksey-r
Could you retry it? (`cargo update && cargo run`)?

[2018-12-01 15:02] aleksey-r commented on #3
[code]

[2018-12-01 15:09] aleksey-r commented on #3
Works fine after removing the set_exclusive method.

[2018-12-01 15:12] flosse commented on #3
So I think we can close this issue now :)
@uklotzde are there any other things that should be included in `v0.3`?

[2018-12-01 15:12] #3 closed

[2018-12-04 07:20] aleksey-r opened #8 "Change the device address after connecting."
Is there a way to change the address after establishing a connection with the device (connect_rtu)?

[2018-12-04 12:37] flosse commented on #8
I don't think so.

@uklotzde Could this be a small feature for the 0.3.x release?

[2018-12-04 13:49] uklotzde commented on #8
:+1: for including this extension in the next release.

**Proposal**
Clients could be assigned an immutable default `device_id: u8` (TCP: unit_id, RTU: address) upon construction. Both client traits will be extended by duplicating all methods with an additional _device_id_ parameter that allows to conditionally override the client's default _device_id_ for some calls.

[2018-12-04 16:37] axelfaure opened #9 "Support for unit ids"
First of all thank you for sharing this crate with us!

I guess this is a feature request but it may just be a documentation issue.
I need to setup a modbus TCP communication relying on unit identifiers (I think it is also referred to as slave id). I think this is not supported by this crate but could you please confirm it ?

If the feature is actually missing, is there any plan to implement it ?

[2018-12-05 08:13] uklotzde commented on #9
As proposed [here](https://github.com/slowtec/tokio-modbus/issues/8#issuecomment-444105443) this can be implemented by introducing a `device_id: u8` for both TCP and RTU transports. What do you think?

[2018-12-05 08:15] uklotzde commented on #9
Correct, the unit identifier is currently hard-coded for TCP.

[2018-12-05 09:35] uklotzde opened #11 "Split Reader/Writer from ModbusClient trait"
The `ModbusClient` trait contains many read/write methods that can all be implemented in terms of the generic call() method. Those methods could be factored out into separate `Reader` and `Writer` adapters to simplify the trait.

This becomes even more significant when duplicating the methods by introducing a _device_id_ as proposed in #8 and #9. With separate `Reader` and `Writer` adapters the re

[2018-12-05 09:38] uklotzde commented on #11
In PR #10 for the API redesign I already lifted the call() method up into the trait.

[2018-12-05 11:35] aleksey-r opened #12 "Read/write timeout"
When you run the [example](https://github.com/slowtec/tokio-modbus/blob/master/examples/rtu-client.rs) in Windows 10 and there is no response to reading the registers from the device, the program just hangs without returning an error. Is it possible to set a read/write timeout?

[2018-12-05 13:55] flosse commented on #12
I think you can can set the timeout within the [SerialPortSettings](https://docs.rs/tokio-serial/3.1.0/tokio_serial/struct.SerialPortSettings.html#structfield.timeout) :)

[2018-12-05 14:37] aleksey-r commented on #12
Does not work.
Regardless of the timeout set, the program hangs until it receives a response from the device.

**Cargo.toml**
[code]
**main.rs**
[code]

[2018-12-05 17:33] uklotzde commented on #12
I can confirm this on Linux after adding a timeout to the _rtu-client_ example.

[2018-12-06 14:34] uklotzde commented on #12
The timeout works as expected in _serialport-rs_. But in _mio-serial_ read timeouts have been disabled:

https://github.com/berkowski/mio-serial/pull/10

The `SerialPort` implementation in mio-serial simply returns a duration of 0 for `timeout()`, independent of the timeout in `SerialPortSettings`.

[2018-12-06 14:40] uklotzde commented on #9
Another variant of sending messages to selected slave devices (address range: 1-247) is sending broadcast messages to all connected devices by using the address 0.

[2018-12-07 20:37] flosse opened #16 "nostd support"

[2018-12-07 22:37] uklotzde commented on #9
We also need to consider the use case of using one of the reserved addresses 248-255, e.g. for devices with a fixed broadcasting address 253.

[2018-12-09 09:51] uklotzde commented on #9
Heavy work in progress: https://github.com/uklotzde/tokio-modbus/tree/devices

With `tcp::connect_device()` you will be able to connect to a specific _device_ aka _unit_ instead of using a direct connection (default : device/unit_id = 0xFF) to the coupler. It will also be possible to switch dynamically between devices at runtime for both RTU and TCP connections, see the _rtu-client.rs_ example.

@

[2018-12-09 09:51] uklotzde commented on #8
See also: https://github.com/slowtec/tokio-modbus/issues/9#issuecomment-445523963

[2018-12-17 18:50] cbourjau opened #18 "Move from tokio-core and tokio-proto to tokio"
First and foremost! Thanks a lot for sharing this library! I was trying to use it today and noticed that it uses the deprecated `tokio-core` and `tokio-proto` crates. Is there any particular issue holding back the migration to the current `tokio` crate?

[2018-12-17 18:59] flosse commented on #18
@cbourjau Your suggested migration is totally in our minds :)
Unfortunately there is no drop-in replacement of `tokio-proto` so we have to refactor the current implementation first. There is an ongoing progress in #10 :)

BTW:
Contributions are very welcome ;-)

[2019-01-10 11:33] flosse commented on #18
According to https://github.com/tokio-rs/tokio/issues/118#issuecomment-452969665 https://github.com/tower-rs/tokio-tower seems to be the replacement for `tokio-proto` but it seems to be buggy: https://github.com/tower-rs/tokio-tower/issues/2

[2019-01-11 11:10] uklotzde commented on #9
@flosse Please add a milestone for 0.3.0 and assign it to this issue.

[2019-01-11 11:11] uklotzde commented on #8
@flosse Please add a milestone for 0.3.0 and assign it to this issue.

[2019-01-11 11:11] uklotzde commented on #11
@flosse Please add a milestone for 0.3.0 and assign it to this issue.

[2019-02-12 08:50] axelfaure commented on #9
Thank you for the work you put in this new version!

I may have missed something but I think sync::Context should implement SlaveContext as well

[2019-02-20 21:10] jvelo opened #19 "Custom TCP connect timeout ?"
Hello,

Is it possible to set a custom TCP connect timeout ?
I'm new to rust, I might be missing some things obvious in the way tokio works

If it's not possible and of interest, I'm willing to give it a go.

Thanks!

[2019-02-28 00:11] flosse commented on #19
@jvelo Sorry for the late reply.
The TCP connection currently is managed by the deprecated `tokio-proto` crate that no longer is maintained. Unfortunately there is no drop-in replacement for that.
I already ask for a possible replacement more than a year ago (https://github.com/tokio-rs/tokio-proto/issues/202#issue-292208479) but there is not really a progress on that :(
This is why we're going to

[2019-04-04 11:37] #11 closed

[2019-04-04 11:37] #9 closed

[2019-04-04 11:37] #8 closed

[2019-04-04 11:50] uklotzde commented on #12
This is still an open issue. Using a timeout at the service level (or above) doesn't work as expected for serial ports. As [mdonoughe mentioned here](https://github.com/uklotzde/tokio-modbus/pull/1) tokio-proto's pipeline mode gets stuck and the client context becomes unusable. The issue is easy to reproduce by sending requests to disconnected slave devices that never respond.

@mdonoughe Do you h

[2019-04-04 11:52] uklotzde commented on #18
tokio-proto complicates handling of timeouts as discussed in #12

[2019-04-05 03:37] mdonoughe commented on #12
I have something but it's definitely not proper.

I created a wrapper around tokio-serial which uses tokio-timer to emulate read timeouts in userspace.

Unfortunately, tokio-proto gets stuck after the first error occurs, so I ended up creating a second wrapper which issues revocable proxies to the actual transport. On the other side of tokio-modbus if I get an error I just `rtu::connect_slave` wit

[2019-04-05 07:46] uklotzde commented on #12
This is the brute-force method I also had in mind. But I hesitated to implement it, because it requires a substantial re-design and I hoped there could be a smarter solution.

[2019-04-05 07:56] uklotzde commented on #12
Getting rid of the legacy tokio stuff is [the goal](#18).

[2019-04-06 10:16] uklotzde commented on #12
The following repository contains an example that demonstrates how to reliably handle timeouts by reconnecting the serial port:

https://github.com/slowtec/truebner-smt100

[code]

[2019-04-06 23:18] flosse commented on #16
Related `alloc` topic:
- https://github.com/rust-lang/rust/pull/59675
- https://github.com/rust-lang/rfcs/pull/2480

[2019-04-10 14:54] uklotzde commented on #12
The proposed solution causes new issues and works only if the serial port is not used exclusively. When the port is shared (as in the example) input data may get consumed by multiple client services resulting in incomplete and dropped frames. Not always, but reproducible.

I'm still looking for a solution to get rid of stale [client bindings](tokio_proto::BindClient) from tokio-proto that seem to

[2019-04-11 06:15] uklotzde commented on #12
A workaround for reliably dropping stale client connections will hopefully be available soon: #24

Successfully tested with exclusive serial port connections. The port can be reconnected and used for connecting a new client context after dropping this poison pill.

[2019-04-15 18:51] uklotzde commented on #12
A complete Modbus RTU example with timeout handling and error recovery can be found here:
https://github.com/slowtec/truebner-smt100/blob/master/examples/modbus-rtu.rs

[2019-05-15 14:48] uklotzde opened #27 "read_coils()/read_discrete_inputs(): Wrong number of bits"
client::Context::read_coils()/read_discrete_inputs() report 8 * _number of received bytes_ instead of _number of requested bits_ in response.

[2019-05-16 08:06] #27 closed

[2019-06-04 18:35] glennpierce opened #30 "Having trouble running a simple read register example"
Hi I was wondering if you can see why I can't get the following example to work.
I get the error
ExceptionResponse { function: 3, exception: GatewayTargetDevice }

[code]

I know the ip code is correct as the following Python code works

[code]

What could be the issue here ?
Thanks

[2019-06-04 19:12] uklotzde commented on #30
Maybe you need to switch the unit/slave id of the client context to 1 like you did in your Python code?

[code]
See also: [`trait SlaveContext`](https://docs.rs/tokio-modbus/0.3.4/tokio_modbus/slave/trait.SlaveContext.html)

This is needed if the TCP device acts as a gateway. Otherwise the reserved unit id = 0xFF is used as the default for directly accessing the TCP device.

[2019-06-04 19:14] uklotzde commented on #30
Once the slave/unit id is set it is used for all subsequent requests.

[2019-06-04 21:36] glennpierce commented on #30
Thanks that was it.
I didn't replicate that bit from Python as it was not necessary to have it for the Python code. It must default to slave id 1.

Thanks

[2019-06-04 21:52] uklotzde commented on #30
Feedback is always welcome.

[2019-06-04 21:52] #30 closed

[2019-07-16 10:53] laumann opened #32 "Error inspection is difficult because error types are not exported"
There are some errors that could be survived, for instance if an illegal address is used. But some errors, like a broken connection, are hard if not impossible to survive.

However, all the error types in the library seem to be `pub(crate)` meaning I cannot downcast any errors to eg `ExceptionResponse` (even though it implements `Error`).

I would suggest making `ExceptionResponse` and `Exception`

[2019-07-16 11:07] flosse commented on #32
@laumann Thanks for your feedback!
I'll chat on that with @uklotzde soon.

[2019-07-16 12:42] laumann commented on #32
Thank you @flosse I'm up for opening a PR, I could maybe outline what I'd like to be able to do as a user?

[2019-07-16 21:55] flosse commented on #32
@laumann we had a busy day today and were not able to handle your issue. I just skimmed the code and as far as I can see your proposal makes sense.

That would be awesome! And i guess we can easily ship a `v0.3.5` without braking changes :)

[2019-07-16 21:58] flosse commented on #12
@aleksey-r I think we can close that issue now. Feel free to reopen it if there are questions left.

[2019-07-16 21:58] #12 closed

[2019-07-17 08:27] laumann commented on #32
Me too :smile: Thanks for taking a look.

Great, I'll submit a PR soon enough and then we can take it from there.

[2019-09-13 14:00] DBTaylor opened #33 "Unable to Close TCP Client Connection"
Target: ARMv7 (musl)

I have a warp webserver that upon a request will open a connection and read some registers, and I want the connection to close after the registers are successfully read. Using the async API, I expected the TCP client connections to close when contexts are dropped, but they do not (netstat shows them in established state). I tried Context::disconnect, but that causes a panic (

[2019-09-14 10:34] flosse commented on #33
@DBTaylor Thanks for your feedback.
We'll try to reproduce this soon.
Probably this issue is related to the outdated `tokio-proto` crate (see #18).
The next version of tokio-modbus will definitely get rid of it and will use the new async/await features of Rust. So if you're interested to help feel free to contact us :)

[2019-09-14 10:35] flosse commented on #33
@uklotzde If you're bored: can you have a look at this?

[2019-09-14 15:33] DBTaylor commented on #33
@flosse Thanks for the quick response. Monday I'll put together a minimal program that reproduces this - I'll also check it on a Tier 1 target to make sure it's not a target specific issue. Glad to hear async/await support is coming - way easier to read than future combinators. I would totally help if I had any idea what I was doing.

[2019-09-16 15:13] DBTaylor commented on #33
@flosse here is a reproduction: https://github.com/DBTaylor/modbus-tcp-leak

It appears to be target agnostic. This issue sounds related, but it appears to have been fixed:
https://github.com/tokio-rs/tokio-proto/issues/194

[2019-09-16 17:30] flosse commented on #33
@DBTaylor Thanks for the example repo. I can reproduce the behavior on my machine.

I tried to build it with the current `tokio-proto` master but unfortunately it's still the same :(

[2019-09-16 18:43] uklotzde commented on #33
I've prepared a quick fix:

https://github.com/slowtec/tokio-modbus/pull/34

[code]

After invoking disconnect() the connections will enter TIME_WAIT and should disappear after ~30 seconds (depending on your config). Does this solve your issues?

[2019-09-16 19:58] DBTaylor commented on #33
@uklotzde yep that works!

[2019-09-16 20:28] uklotzde commented on #33
Great, I will prepare a release.

Your example with the testing instructions was a great help to quickly solve this bug!

[2019-09-17 10:42] #33 closed

[2019-12-24 01:01] toplinuxsir opened #36 "Support async and await feauture ? any example ?"
Support async and await feauture  ? any example ? Thanks!

[2019-12-24 07:10] flosse commented on #36
async / await support will come with v0.4.x (see #35)

[2020-01-10 16:19] hanusek opened #37 "Modbus TCP / RTU Gateway"
Hello.
I need simple example with modbus gateway - TCP Server/RTU master(serial port).
Please help me.

[2020-01-10 16:25] flosse commented on #37
Could you provide a bit more information?
Do you have a repository with your current implementation?
Where exactly do you need help?

[2020-01-10 16:45] hanusek commented on #37
Hello, Thx for reply.
My repo: https://github.com/hanusek/ModbusGateway

[2020-01-14 22:21] flosse commented on #37
hm.... I just receive an 404 :-\

[2020-01-15 09:25] hanusek commented on #37
OK. I'm fixed it. Check now.

[2020-01-18 00:19] flosse commented on #37
I cannot see the usage of `tokio-modbus` in your code.
Please checkout the [examples](https://github.com/slowtec/tokio-modbus/blob/master/examples/) first, try to adjust them for your usecase and precisely describe your problem or question.

[2020-01-18 00:23] flosse commented on #37
I'm going to close this issue until it's clear what's exactly the question/problem. Feel free to reopen it. If you need commercial support you're welcome to contact us.

[2020-01-18 00:23] #37 closed

[2020-01-22 13:01] conorf50 opened #38 "no method named `read_holding_registers` found for type `impl std::future::Future`"
Firstly, thanks to both Slowtec for creating this library and Omnioiot for updating it with ```async/await``` support!
My code below is based on omnioiot's ```async``` branch (#35 ) so I could use the new async/await functionality. I have also included  my ```Cargo.toml```

I'm running into an issue when trying to use the ```tokio_modbus::client::sync::tcp::connect``` function. It seems to be retu

[2020-01-22 22:39] flosse commented on #38
@conorf50 Thank you for reporting.
I'm busy at the moment but can have a look at this at the end of next week.
Meanwhile you could ask @uklotzde, @Darksonn or @not-fl3

[2020-01-22 22:52] keisrk commented on #38
Hi guys, I'm also the one looking forward to asyn/await.  Thank you for this nice project @flosse . @conorf50 , could you try below?
[code]

[2020-01-23 08:56] Darksonn commented on #38
You defined `connect_sync` as an async fn, and all async fns automatically return a future (this is what it means to mark a function async). Thus the error regarding an `impl Future`. If you remove the async marker on `connect_sync`, it works:

[code]

[2020-01-23 09:44] conorf50 commented on #38
I had it marked as async because of a previous attempt at using async/await. I didn't realise that was what was causing the problem.

Thanks @Darksonn for the help!

[2020-01-31 14:22] psztoch opened #40 "Support for function 43 / 14 Read Device Identification"

[2020-02-01 09:50] rspendl opened #41 "RTU example panics with BorrowMutError"
Running the rtu-example panics with:

Deleting lines 67 and 68 fixes the issue.

[2020-02-03 12:07] OrangeTux opened #43 "Making a new release?"
Thanks for your work on this project!

The last release of this projects is `v0.3.5` which was released December 2019. Since than quite some changes have been made. Are you planning on releasing those soon?

[2020-02-04 12:26] thosaa opened #44 "Reponse to WriteSingleCoil is malformed"
The response to WriteSingleCoil is not correct.

I was testing with the Node.js module 'modbus-serial' as a TCP client and this crate as the Modbus TCP server, when I got an error on writeCoil (aka WriteSingleCoil).

I then traced the packets using WireShark and it confirmes that Data is missing from the Response.

[code]
I am not sure on the validity of this page https://www.modbustools.com/modbu

[2020-02-04 13:43] thosaa commented on #44
I think I have sorted out now. I am not able to test it, however.
I have checked the master branch out, made the changes and it builds.
When I try to reference to it from my own project it states:
[code]
This is the dependency in Cargo.toml:
[code]
This is the path override just below:
[code]

I would like to test before making a pull request. Any help is appreciated, thanks.

/Thomas

[2020-02-04 14:26] flosse commented on #44
@thosaa thanks for reporting this bug and fixing it.

[2020-02-04 14:53] flosse commented on #43
Absolutely! I think we'll make it happen within the next few weeks.
You can already test or use it by adding

[code]
to your `Cargo.toml`.

[2020-02-04 14:59] thosaa commented on #44
I cannot see what has changed since tag v0.3.5 to now, since I cannot run my code with the newest version:
I have now set my dep to:
[code]
and the same patch.crates-io as before.

I now get this error:
[code]

And this is the way I call it:
[code]

[2020-02-04 15:11] flosse commented on #44
bug fixed with 8284940bae40ead5410f0abbe9942f0be9db2239

[2020-02-04 15:12] #44 closed

[2020-02-04 15:22] flosse commented on #44
@thosaa I'll have a look at your questions at the weekend.

[2020-02-04 15:36] flosse commented on #41
Thanks for reporting!

[2020-02-04 15:42] flosse commented on #41
fixed: 13e23dcac96d3e2e2d561dc94dcc126bb64f44b5

[2020-02-04 15:42] #41 closed

[2020-02-04 17:13] flosse opened #47 "Release v0.4.0"
# ToDo's:

- [x] Resolve #32
- [x] Resolve #38
- [x] Resolve #49
- [x] merge `server/tcp.rs` and `server/tcp_server.rs`
- [x] Update CHANGELOG
- [x] Create a migration guide
- [x] Test TCP client with real hardware ([ur20](https://github.com/slowtec/ur20-modbus))
- [x] Publish on crates.io

## Not fixed
- fix `cargo test --no-default-features --all` - see https://github.com/slowtec/tokio-modbus/is

[2020-02-04 17:14] flosse commented on #43
I created an separate [tracking issue for the v0.4.0 release](#47).

[2020-02-04 17:14] #43 closed

[2020-02-04 17:15] flosse commented on #36
It's now available in the master branch an released soon (see #47)

[2020-02-04 17:15] #36 closed

[2020-02-04 17:16] flosse commented on #18
now there is no more tokio-proto in the master :)

[2020-02-04 17:16] #18 closed

[2020-02-04 17:18] flosse commented on #38
@conorf50 can we close this issue?

[2020-02-04 17:51] conorf50 commented on #38
Yes go ahead. Thanks everyone for the help

[2020-02-04 21:10] #38 closed

[2020-02-06 09:37] OrangeTux commented on #43
Cool. Thanks!

[2020-02-06 09:40] flosse opened #49 "Missing futures-util/sink and tokio/net features"
## Steps to reproduce
1. Define dependency in your project:
[code]
2. run `cargo-check`:
[code]
## The problem

Running
[code]
within the `tokio-modbus` project does not fail! Why?

## Fix

We just have to enable the `sink` and `net` features within the `tokio-modbus` feature `tcp`:
[code]

[2020-02-18 19:15] david-mcgillicuddy-moixa opened #50 "Communicate with multiple RTU modbus addresses concurrently"
Hi, the modbus rtu example demonstrates how to use `set_slave` to talk to different addresses in turn. I would like to be able to talk to two different addresses simultaneously - send a request to device 1, send a request to device 2, then collect the two responses (possibly out of order).
Since only one packet will be sent on the wire at a time this certainly seems like it _should_ be possible to

[2020-02-18 20:21] hanusek opened #51 "Sync RTU Client"
Hello. I need sync rtu client. Where I find?

[2020-02-19 08:51] zzeroo commented on #51
https://docs.rs/tokio-modbus/0.3.5/tokio_modbus/client/sync/rtu/fn.connect.html

There is a `sync` module https://docs.rs/tokio-modbus/0.3.5/tokio_modbus/client/sync/index.html

[2020-02-19 14:43] david-mcgillicuddy-moixa commented on #50
I realise that this was the kind of thing that TCP was invented for but unfortunately that's not an option for me. Since once a response comes in from a given address I'm going to be passing that in a message back upstream I see one possible interface look something like:
[code]
Which would then register the callback and when a response came in, it would dispatch the response to a waiting callback

[2020-02-19 14:53] david-mcgillicuddy-moixa commented on #51
Those both exist for me. There's also the direct example: https://github.com/slowtec/tokio-modbus/blob/master/examples/rtu-client.rs

[2020-02-19 15:00] hanusek commented on #51
its asnyc.

[2020-02-19 17:08] hanusek commented on #51
I'm wrote a example.
[code]
I have a problem when not receive response.
How set timeout?

[2020-02-19 17:25] david-mcgillicuddy-moixa commented on #51
I was not ever able to get timeouts working due to https://github.com/slowtec/tokio-modbus/issues/19
So I currently use the async code and race it with a tokio timeout using either `select2` in old tokio or `select!` in new tokio (depending on if you're using 0.3.5 or master of tokio-modbus).

[2020-02-19 17:26] hanusek opened #52 "method not found in `impl futures::future::Future`"
Cargo.toml :
[code]

My Custom Example:
[code]
Error:
[code]

[2020-02-20 14:26] hanusek commented on #51
;(
I'm switching to https://github.com/zzeroo/libmodbus-rs

[2020-02-21 13:08] glennpierce opened #53 "Trying to understand asynchronous client."
Hi I am having trouble understanding how or the best way to make many requests in a multi threaded way.
Basically I was trying to simulate talking to a couple of thousand modbus devices as quickly as possible. As I don't have those devices :) I was running your tcp-server.rs example with added delays of 60-80 ms. This seems reasonable as a simulation.

My trouble is developing the client code.

I

[2020-02-21 16:30] david-mcgillicuddy-moixa commented on #50
After further reading of the spec this seems simply not supported at all by modbus over RS-285 sadly:
https://i.imgur.com/fkzYm40.png

Does this agree with your reading? I hope I am just misunderstanding something

[2020-02-26 10:01] glennpierce commented on #53
I also believe there is an issue with sync::tcp::connect not closing the socket correctly.

I have the following code that eventually fails with too many open files error.
I have tested this with modbus-rs and it works.

[code]

[2020-02-29 01:33] klmurphy72 opened #54 "TCP_NODELAY"
A small piece of the Modbus_Messaging_Implementation_Guide_V1_0b is listed below.  I don't see anywhere in the code that is implemented.  Should this be added?  Is there some technical reason it is not?

TCP-NODELAY:
Small packets (called tinygrams) are normally not a problem on LANs, since most LANs
are not congested, but these tinygrams can lead to congestion on wide area networks.
A simple solu

[2020-03-07 14:51] flosse opened #55 "Derive Debug for Context"
Blocked by
- ~https://github.com/berkowski/mio-serial/pull/20~
- https://github.com/berkowski/tokio-serial/pull/27

[2020-03-07 14:52] flosse commented on #40
@psztoch Would you mind to implement this?

[2020-03-07 14:57] flosse commented on #49
I'm closing this issue because
1. The fix is merged into master
2. We have no capacity to check why `cargo build --no-default-features --features tcp` did not fail

[2020-03-07 14:57] #49 closed

[2020-03-07 15:08] flosse commented on #32
Solved in aedb60c

[2020-03-07 15:08] #32 closed

[2020-03-07 15:17] flosse commented on #54
@klmurphy72 Thanks for posting this issue.

We can use [TcpStream::set_nodelay](https://tokio-rs.github.io/tokio-core/tokio_core/net/struct.TcpStream.html#method.set_nodelay)

Would you enable this by default? Or would you allow the user to decide the behavior? And would you mind to add a PR?

[2020-03-07 15:39] flosse commented on #47
@not-fl3 Can we merge `server/tcp.rs` and `server/tcp_server.rs`? For the `v0.4.0` it will be hidden by the `tcp-server-unstable` feature but for a `v0.4.1` we could release an implementation.

[2020-03-08 02:07] not-fl3 commented on #47
totally agree, having very similar `Server` and `TcpServer` structs was very confusing.
An attempt to fix it: https://github.com/slowtec/tokio-modbus/pull/56

[2020-03-08 12:50] laumann commented on #32
Thanks! That looked easy enough :-)

[2020-03-08 16:29] flosse commented on #52
Your code has several mistakes. First you need to define the dependencies properly:

[code]
And in your main code needs to be fixed this way:

[code]

[code]

[2020-03-08 16:29] #52 closed

[2020-03-08 16:31] flosse commented on #51
Ok, so I'm closing this issue. Feel free to reopen it if there are questions left.

[2020-03-08 16:31] #51 closed

[2020-03-08 16:35] flosse commented on #43
@OrangeTux FYI: The only missing [task before publishing v0.4.0](https://github.com/slowtec/tokio-modbus/issues/47#issue-559861229) is a manual RTU test with real hardware.

[2020-03-13 01:55] #47 closed

[2020-03-16 12:57] OrangeTux commented on #47
Thanks for releasing v0.4.0!

[2020-04-16 21:35] madprogrammer opened #57 "Multiple servers on same tokio runtime"
Hello,

I see this library is being actively developed, and I want to suggest to make it possible to spawn MODBUS TCP slave on the same tokio runtime (reactor) as other servers. I want to make an APP which listens on HTTP, MODBUS TCP and Serial port at the same time, and not to use threads for this purpose. Currently it seems there are not enough abstraction for the TCP server and its startup can'

[2020-04-17 11:10] flosse commented on #57
I think it should be possible but I haven't tried it yet.
We could take your usecase to add it to [examples](/slowtec/tokio-modbus/tree/master/examples) but I won't make it within the next days/weeks.

Would you mind to create draft a PR so I can guide you?

[2020-04-17 12:56] madprogrammer commented on #57
So far I got it to work as follows. Not sure how to get rid of `thread::spawn`. I'm just starting to play with Rust, and my original implementation is in Python with Twisted, where it all works well. I just like that Rust produces a single binary which is ready to run on my target ARM-based system, and it's kind of an overhead to deploy all Python stuff there.

[code]

[2020-04-19 16:19] ptasz3k commented on #40
I can try it. I'm learning rust, using modbus professionally and probably will implement that function in my c and c# modbus libs. I think that it will be good exercise.

Any hints where should i start?

[2020-04-20 05:54] ptasz3k commented on #54
We are enabling it by default and it's not a value that is changeable in our c# library. The packets are sent physically as soon as they are sent by software. We never had any problems with that for five years already.

[2020-04-20 16:15] flosse commented on #40
awesome!

You can find an example described on page 43 in the [Modbus Application Protocol Specification (PDF)](http://modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf).

![Screenshot_2020-04-20 MODBUS Application Protocol 1 1 b - Modbus_Application_Protocol_V1_1b3 pdf](https://user-images.githubusercontent.com/276043/79773995-7b645d80-8332-11ea-9949-195118b09d52.png)

So here are some possi

[2020-04-20 17:05] flosse commented on #57
@madprogrammer I added your code into the [`tcp-web-server` branch](https://github.com/slowtec/tokio-modbus/tree/tcp-web-server).
I'll hopefully adjust your example within this week but I can't promise.

[2020-04-20 18:12] madprogrammer commented on #57
@flosse Thank you! At the moment I temporarily gave up Rust implementation of my server and switched back to Python implementation, because I didn't figure out how to pass a Struct with shared global state to MbServer, so that I could use it in request handlers.

[2020-04-27 10:35] MightyPork commented on #19
any progress / plans for this?

it made me ditch the sync client and write this async abomination instead (my first time using futures, too)

[code]

[2020-05-07 08:06] MightyPork commented on #55
Not blocked anymore, this would be useful to have

[2020-05-15 11:43] MightyPork opened #59 "Socket not flushed before write - perpetual error once a read timeouts"
I'm using `tokio::time::timeout` on the Futures returned by e.g. `client.read_holding_registers()`, as real-world devices are not reliable and a retry is sometimes needed, also I don't want to block forever and freeze on one failing device.

When a device responds too late for a timeout, the response is queued in the TcpStream for reading.

Next time a read-write operation runs, it receives the OL

[2020-05-17 20:04] flosse commented on #55
now it's blocked by https://github.com/berkowski/tokio-serial/pull/27

[2020-05-19 11:53] MightyPork opened #60 "Poor recovery from malformed frames in RTU"
We have a modbus slave which implements modbus in the usual vendor way, i.e., wrong: It does not send CRC with error frames.

[code]

To debug this, I copied the crate to a local folder and added trace logging to the RTU decoder.

<details>
  <summary>Trace logs (long)</summary>

[code]

(without the trace logging, you really can't see anything, the parser continuously fails.)

</details>

Several

[2020-05-19 13:32] MightyPork commented on #60
I have a solution of sorts, maybe I'll make a PR later if it proves reliable.

[code]

This is called in `Context::call` (`service::*`) before the `.send()`, like this:

[code]

[2020-05-25 09:18] zzeroo commented on #50
@david-mcgillicuddy-moixa You are right. In RTU is the happy path Request -> Waiting for reply -> Process reply. As shown in your image from the official standard. There is no option to send 2 Requests without waiting for the response. So all your ideas are not possible. This affects only the RTU standard, in TCP it should/ is possible!

I think this issue should be closed.

[2020-05-25 13:09] flosse commented on #50
@zzeroo thanks for clarifying!

[2020-05-25 13:09] #50 closed

[2020-09-23 09:19] deeptuuk opened #63 "How to use it？"
I am sorry，i am a newest ruster。

when i use you code,
i got below error

cargo run
feature `tcp` is required to run this example

can you help me !
appreciate you!!!!!!!!!!!!!!!!
------------------------
ps: I am really not understand how to use rust features.

[2020-09-23 10:28] flosse commented on #63
Please see https://doc.rust-lang.org/cargo/reference/features.html#usage-in-end-products

[2020-09-23 10:28] #63 closed

[2020-09-24 00:34] deeptuuk commented on #63
thank you so much

[2020-09-24 00:46] deeptuuk opened #64 "build problem"
hi
when i build the code，i got below error：

[code]

-------------------------------
Can you help me, appreciate you!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-09-24 01:57] deeptuuk commented on #64
This is my Cargo.toml
[code]

[2020-09-24 01:58] deeptuuk commented on #64
This is the error
[code]

[2020-09-24 06:27] deeptuuk commented on #64
finally I solve the problem ,below

[code]

[2020-09-24 06:27] #64 closed

[2020-10-21 10:30] Foelsgaard opened #66 "Panic when pulling cable on RTU device"
Pulling the cable on a device while a request is processing results in a panic at `tokio-modbus/src/service/rtu.rs:60`:

[code]

This seems to be a regression from v0.3.5 where it would instead return a broken pipe error.

It looks like it should be a pretty easy fix. Just map the `None` to some error and return that.

[2020-10-23 11:15] flosse commented on #66
@Foelsgaard thanks for reporting!
Hopefully I'll be able to fix that soon.

[2020-10-23 12:59] #66 closed

[2020-10-23 13:45] Foelsgaard commented on #66
@flosse Great! Thank you so much! :)

[2020-10-24 14:19] zzeroo opened #70 "Whats the purpose of the sync rtu client?"
With the async rtu client under windows I had massive `Permission denied` issues (A separate issue follows).

Now I try to get the sync rtu part up and running and stumbled upon this one:

```thread 'main' panicked at 'there is no reactor running, must be called from the context of Tokio runtime'```

Here is my example

[code]

Does the "sync" rtu part differ from the [sync tcp](https://github.com

[2020-12-15 09:33] CalliEve opened #71 "Upgrade to tokio 0.3"
Hi!

Currently tokio is on version 0.3.6, while this crate only supports the 0.2 versions of tokio.

Using the 0.3 versions of tokio leads to a `thread 'tokio-runtime-worker' panicked at 'there is no reactor running, must be called from the context of Tokio runtime'` runtime error, when using the tcp client to connect to something.

[2020-12-21 11:46] flosse commented on #71
@Baev1 Thanks for reporting this. Unfortunately we currently have no capacity to update this crate.
So feel free to open a PR ;-)

[2020-12-21 12:06] Baev1 commented on #71
@flosse thank you for your reply!

I will look into making a PR to help with this, but after looking into things a bit more, I will wait for the soon upcoming 1.0 release of tokio (said to come at the end of this month) as announced back in October in their [blog](https://tokio.rs/blog/2020-10-tokio-0-3), as to prevent having to make another PR soon afterwards again.

[2020-12-21 12:09] flosse commented on #71
great!
And don't hesitate to ask for help :)

[2020-12-21 12:47] uklotzde commented on #71
Afterwards we need to bump the version number to v0.5. Many crates still require tokio 0.2.x which might cause dependency conflicts in a project? Not sure about this.

But because of these potential conflicts we should prepare ourselves for the upgrade. You could start with tokio 0.3.x to determine the current gap. 1.0 was announced to released before the end of this year.

[2020-12-21 13:58] Baev1 commented on #71
I skimmed through the dependencies and it seems to me `tokio-serial` will be a blocker for this, as it also uses tokio 0.2. In addition tokio-serial uses mio-serial, which depends on mio 0.6, while afaik tokio 0.3 uses mio 0.7 and I am not sure if that would then in turn block tokio-serial from using tokio 0.3 or not.

I can't with confidence say if this all means we can or can't upgrade tokio her

[2021-01-31 09:50] DrSloth commented on #53
For everyone encountering this issue:
I once experienced a similar problem with the sync client. If you use tokio driven libraries you are actually best off to use them with async/await. One solution for the first question of this issue, is to use tokio::spawn to spawn tasks and at the end join them using the futures crate. This solution lets tokio decide how many threads to use and to concurrentl

[2021-02-16 23:11] efancier-cn opened #73 "add rtu to server"
As the subject, rtu server is still valuable

[2021-02-24 16:12] llamicron commented on #71
Has there been any progress on this? More popular crates have been updating to `tokio 1.0` or at least `tokio 0.3`, which makes integration with this difficult. Is this still on the roadmap?

[2021-03-04 21:17] flosse commented on #71
@llamicron I'm quite busy right now but feel free to continue with #72 :smiley:

[2021-05-11 09:55] glennpierce commented on #19
This saved me. Ugly but works

[2021-05-13 10:07] glennpierce opened #75 "connect_slave reuse connections for different slaves ?"
I am using

tokio_modbus::client::sync::tcp::connect_slave

Is it possible to connect to one ip / port once
and then read from different slaves with having to reconnect to each ?

Is this allow in modbus ? I am aware it would break the api so not suggesting it to be changed just curious if I could cache the connection maybe.

Thanks

[2021-06-14 07:03] jpinafcirce opened #77 "tcp-server.rs tag v0.4.0 doesn't compile"
Hello,

Last week (11th June) I have been testing 'tcp-server.rs' from 'slowtec/tokio-modbus/examples' and there is some kind of issue related to 'tcp' and 'server' features. If you try to compile 'tcp-server.rs' you will receive an error and I think that it comes from the feature 'server'. It is like it cannot be found even writing it in 'dependencies' in 'Cargo.toml'

However, I tried 'tcp-serve

[2021-07-23 13:18] bootrecords commented on #77
The `server::tcp` module is gated by the `tcp-server-unstable` feature, as the CHANGELOG for versio 0.4.0 indicates.

Accordingly, you'll get the following error on trying `cargo run --features=tcp,server --example tcp-server`:

[code]

The example will run fine with `cargo run --features=tcp-server-unstable --example tcp-server`, however.

TBH, I think this extra feature is pretty much redundant,

[2021-07-23 13:23] bootrecords commented on #73
@ivomurrell had added an according first-pass implementation in #72, but it's not being worked on presently. I could probably extract those changes into a separate PR, but would have to check if any of the code has strict dependencies on tokio v1 or any of the other added/changed dependent crates

[2021-07-23 15:29] bootrecords commented on #70
After looking at it a bit more in-depth, I have to concur that the design is somewhat awkward. Both the TCP and RTU sync clients internally wrap around a tokio runtime that is always blocked on any call to the sync context, but under the hood everything in this crate uses the async Modbus engine.

From what I can tell your example _should_ run just fine... all calls that require a runtime should b

[2021-07-28 19:12] #71 closed

[2021-07-28 19:36] flosse commented on #77
Exactly!

We haven't really used/tested the server implementation in either a production or demo context, so you really shouldn't use it unless you're playing around with it for fun.

But you are welcome to open a PR with a production-ready implementation ;-)

[2021-07-28 19:36] #77 closed

[2021-07-28 19:49] bootrecords commented on #77
@flosse we've used the server-side implementation at least in a staging environment for a while at Volterion - though that was still based on `tokio-modbus` 0.3 - I don't really know if they updated the version in the meantime, but at least functionality-wise other applications like [modpoll](https://www.modbusdriver.com/modpoll.html) and [Modbus Poll](https://www.modbustools.com/modbus_poll.html)

[2021-07-28 21:24] flosse opened #80 "Release v0.5.0"
- [x] Update to tokio v1.x #78
- [x] Clean up and reduce dependencies #81
- [x] Use `async_trait` #82
- [x] Wait for [`tokio-serial`](https://github.com/berkowski/tokio-serial) `v5.4.0` release
- [x] Update [`CHANGELOG.md`](https://github.com/slowtec/tokio-modbus/blob/master/CHANGELOG.md)
- [x] Update [`README.md`](https://github.com/slowtec/tokio-modbus/blob/master/README.md) (including date in C

[2021-07-28 22:08] flosse commented on #77
@bootrecords thanks for sharing this!
Do I understand you correctly that you'd mark the server implementation as production ready?

[2021-07-29 08:25] bootrecords commented on #77
@flosse I'm not sure about your production-readiness criteria and what edge cases and issues you'd expect to be tested for that, but from my experience the Modbus server implementation there was at least usable and running reliably based on `tokio-modbus 0.3` - you may want to reach out to Volterion and ask them about their experience with the library to date, though from what little I know about

[2021-07-29 09:40] uklotzde commented on #77
The server implementation should only be provided as an example. Then it could be used as a blueprint for your custom server.

We could provide the building blocks, but a method like `server::tcp::serve_until()` doesn't belong into the public API. Too many batteries included. It already requires to enable unneeded dependencies of tokio, see the comment in Cargo.toml.

[2021-07-29 09:57] uklotzde commented on #77
#81 might resolve the dependency/feature issues with the server part.

[2021-07-29 10:13] uklotzde commented on #80
How about removing `sync` from the default features?

[2021-07-29 10:35] bootrecords opened #82 "consider using `async_trait`"
This is more of an internal structuring thing, but I noticed that in many parts of the code base explicit `Pin<Box<dyn Future<...>>>`s are returned.
While this works, it's a bit tedious to read, so using [async-trait](https://crates.io/crates/async-trait) may be worth considering for the internal traits, such as `Client`, `Reader` and `Writer`.

[2021-07-29 10:53] uklotzde commented on #82
I second that.

[2021-07-29 12:56] flosse commented on #77
So then we should move the code to the example folder, right?

[2021-08-12 08:38] #82 closed

[2021-08-13 12:11] uklotzde commented on #80
#89

[2021-08-16 15:03] #73 closed

[2021-08-16 15:15] uklotzde opened #90 "Nix OS support file outdated?"
dev-env.nix seems to be outdated, e.g. the dependency on libudev should be obsolete. Please update or remove this file.

[2021-08-16 16:04] #55 closed

[2021-08-20 09:33] flosse commented on #80
done :)

[2021-08-20 09:33] #80 closed

[2021-08-20 09:48] bootrecords commented on #80
@flosse great work, though I'd say you forgot to mention the addition of an RTU server implementation in the Changelog.

I also noticed that the traits that use `async_trait` now are also exported and can be implemented by library users, which then also have to declare `async_trait` in their usage. That shouldn't be much of an issue, since `async_trait` is already in the depencies anyway, but I gu

[2021-08-20 10:29] uklotzde opened #95 "Add (property-based) fuzzing tests"
...to improve safety and prevent more bugs like #87.

[2021-08-25 22:15] fdlg opened #96 "Server::Service trait has no mechanism to obtain request's unit ID in call implementation"
For an RTU server, it's important to know a request's unit ID when the devices are on a bus. For example, on an RS-485 bus, all devices will receive all requests but only the intended receipient should send a reply.

For a TCP server, knowing the request's unit ID allows implementing logical devices or the implementation of a gateway that forwards a request to an RTU device.

The rtu and tcp serve

[2021-08-30 02:44] ArcherGu opened #98 "Any example for ExceptionResponse?"
I'm a rust newcomer and am building a modbus server, and when the client sends the wrong address I need to give feedback on the error message, whether there are any examples of ExpressinResponse

[2021-10-02 02:28] dave-andersen commented on #30
It would be really handy to have this documented in the TCP example, even if just a comment:
// If the device acts as a gateway, set the unit ID to 1:
// ctx.set_slave(Slave::from(1))

Took me quite a while to figure out why my Rust version wasn't working when porting a client from Go's goburrow/modbus, which also sets the unit ID as the Python library does and didn't need this configuration.

[2021-11-15 19:43] Hywan opened #100 "Sync Client: could not find `runtime` in `tokio`"
Hello,

Thank you for this nice project :-).

Trying the small project with tokio-modbus 0.5.0 raises a compilation error:

[code]

[code]

It raises the following error:

[code]

Can you reproduce this error? It seems to happen only with the `sync` feature.

[2021-11-16 11:39] flosse commented on #100
yes!

Thanks for reporting!

#101 Hopefully fixes this.

[2021-11-16 12:04] flosse commented on #100
@Hywan #101 is blocked because of security issues with `serialport-rs` that is unmaintained at the moment.
In the meantime you can do this in your `Cargo.toml`:

[code]

[2021-11-18 15:15] flosse opened #103 "How to handle unmaintained serial dependencies?"
The issue started here:
[serialport-rs](https://gitlab.com/susurrus/serialport-rs/) uses an outdated (`v0.16`) `nix`crate :disappointed:

And this is the current (2021-11-18) situation:
- serialport-rs is [currently not maintained](https://gitlab.com/susurrus/serialport-rs/-/issues/111).
-  [mio-serial](https://github.com/berkowski/mio-serial) is not maintained anymore
-  [tokio-serial is currentl

[2021-11-18 23:11] ssnover commented on #103
If Slowtec isn't looking to take on indefinite maintenance of serialport-rs, I'd note that it looks like it's maintenance is being carried on here: https://gitlab.com/reconbot/serialport-rs (based on the thread linked). It may be worth making an additional PR to that repo and see if there's a response.

[2021-11-21 12:45] #100 closed

[2021-11-21 12:46] flosse commented on #100
@Hywan I just merged the fix into the master, so the next published version should work for you as expected. If that is not the case, please reopen this issue :)

[2021-11-29 13:08] lucviala opened #104 "How to use tokio-modbus with dynamic values ?"
Hi all,

I'm kind of new to rust development, I trying to implement tokio-modbus to get asynchronous tcp server running alongside of random number generator.

And I'm in trouble to get a randomly generated Vec<u16> to dispatch through modbus holding registers.

I implemented this kind of code, but response is always the same and never been recomputed:
[code]
[code]

As you can see the response is

[2021-11-29 13:59] uklotzde commented on #104
That's obvious. get_datas() is invoked once on server startup and stored. Each response is populated with a copy of that immutable data.

[2021-11-29 13:59] #104 closed

[2021-11-29 14:28] lucviala commented on #104
Thanks @uklotzde to point the lack of my competences on rust development, no offense. :smile:
In reality, I've shown you the least advanced code, but working, to let it as simple as possible, but I already tried to make callback function to be called by `call` function and be able to generate response.
But as I said, I don't have the competences, and I don't know how to make the response dynamic t

[2021-11-29 14:48] uklotzde commented on #104
This is not a tokio-modbus issue, but a general programming question.

If I would provide you the correct solution you would probably hit the next road block soon. The solution might also depend on your requirements and goals that I am not aware of.

[2021-11-29 15:25] lucviala commented on #104
Yes @uklotzde you've right, I will try to find the solution on my own.

[2021-11-29 20:53] justinyhuang commented on #98
Any response to this question? it appears to me that the exception definitions are in `frame` which is private.
How could a server implementation produce an appropriate exception response in this case?

[2021-12-01 14:12] Hywan commented on #100
0.5.1 fixes the problem, thanks!

[2021-12-03 12:35] aleksuss commented on #53
I can't figure out how to make `async` requests via one `Context`. The problem is `read_*` requests expect mutable reference to `Context`.  I'd like to write something like that:

[code]

I've tried to create a context for every request but a server doesn't like this. I thought about to wrap context in `Arc<RwLock>` but I think it's a not good idea.

[2021-12-03 14:46] DrSloth commented on #53
Because pretty much everything is uses `&mut self` you can just use `Arc<Mutex<Context>>`, i would recommend the [tokio Mutex](https://docs.rs/tokio/latest/tokio/sync/struct.Mutex.html).

 Internal state is mutated when making any networking request, reading from a `std::net::TcpStream` also requires it to be mutable for instance. It is generally not possible to make concurrent/parallel requests o

[2021-12-15 21:37] sirhcel opened #107 "Cannot run RTU client sync example"
* I wanted to give to give the Modbus RTU client examples a test drive but failed in both cases
    * [`rtu-client-sync.rs`](https://github.com/slowtec/tokio-modbus/blob/5bd83cf660cf79edfe579f91a168e924e73553aa/examples/rtu-client-sync.rs) panics with
[code]
* Is this examples expected to run out of the box?
* What could I do to actually get it running?
* At a first first glance into [`context.rs:

[2021-12-16 23:04] sirhcel commented on #107
* I meanwhile managed to get [`rtu-client-sync.rs`](https://github.com/slowtec/tokio-modbus/blob/5bd83cf660cf79edfe579f91a168e924e73553aa/examples/rtu-client-sync.rs) running explicitly bringing in a Tokio runtime:
[code]
* What's the right way, to get the sync example running?
* I initially erroneously reported the async example hanging (I used the wrong parity configuration) and updated title an

[2021-12-22 05:57] manio commented on #107
Maybe the example is outdated?
What if you add the line similar as in this example:
https://github.com/slowtec/tokio-modbus/blob/5bd83cf660cf79edfe579f91a168e924e73553aa/examples/tcp-client-custom-fn.rs#L1
in the first line before main, so it will start the tokio runtime.
Is it OK then?

[2021-12-22 10:32] sirhcel commented on #107
I already tried this, but this still results in the same error message as shown in the description. My example looks like:
[code]
I would have expected this to work as well.

[2021-12-28 22:27] sirhcel commented on #107
What is the "official" way for providing a runtime for this example? If it has to be done explicitly like in https://github.com/slowtec/tokio-modbus/issues/107#issuecomment-996261254, I will create a PR for updating it.

[2022-01-03 11:12] jsnnerve opened #108 "Client support for multithreaded tokio environment"
Hi,

Currently there is only support for a single threaded tokio environment for clients, but would it be possible to add support for a multithreaded tokio environment?

[2022-01-17 13:56] glennpierce commented on #98
I wanted to match on

Custom { kind: Other, error: ExceptionResponse { function: 3, exception: GatewayTargetDevice } } => {

}

but you are right frame is private where I find myself needing a few things from it.
In the end I converted the error to a string and did a match (yuck)

[2022-02-25 18:22] Carter12s opened #111 "Failure to Recover from TCP Re-transmission"
Totally possible this is user error, or some misconfiguration, but it looks like a failure in either tokio modbus or mio to handle TCP Re-transmissions correctly. We have two client processes (one reading, one writing) talking to a remote server (ABB VFD) in a harsh EM environment where there are a reasonable number of low level transmission failures.

We see a 100% repeatable pattern in network t

[2022-03-18 11:50] LenRemmerswaal commented on #98
I would think that you could have the modbus server return an error response, by returning  from call() like so:
[code]
Like mentioned before, for this to work, the following needs to be published:
- frame::ExceptionResponse
- frame::Exception
- codec::req_to_fn_code()

The first 2 could be included in the prelude, like Request and Response are.
The last 1 I am not sure about.

If you return with

[2022-04-11 16:43] chengchangwu opened #112 "Maximum number of input registers read"
I've found that I can read at most 126 input registers with `read_input_registers()`. But why 126? Which part of the source code should I read.

[2022-04-12 12:42] chengchangwu commented on #112
But I can read 126 contiguous registers. one more thsn the spec.

[2022-04-25 13:48] JosuGZ opened #113 "On TCP, if there is no response to a request, the connection hangs forever"
If for some reason a device fails to respond, or the connection is lost without being properly closed, the TCP client hangs forever.

This could be solved with a timeout, but I can't find a way to set one.

[2022-04-25 14:35] JosuGZ commented on #113
Something like this could be a solution, making the timeout configurable somewhere and maybe allowing to close the connection (this "fix" keeps it open).

I don't know the library enough to make further changes at this moment.

[code]

[2022-04-29 00:44] saturn77 opened #114 "Attempting basic client sync example failed"
In attempting to use the client-sync example, I simply cannot get it to work and was wondering if there is some library that need to include . . . Thanks, James

![image](https://user-images.githubusercontent.com/5698048/165869167-2a616b63-c851-40ff-af1c-f716af9816ae.png)

[2022-04-29 10:29] uklotzde commented on #114
Please get familiar with the Rust module system: https://doc.rust-lang.org/book/ch07-04-bringing-paths-into-scope-with-the-use-keyword.html

[2022-04-29 14:17] saturn77 commented on #114
The example will not compile, even with the Cargo.toml file set to include tokio-modbus. I have been using Rust for many years. This module is broken, and your repository does not have any continuous integration testing.

[2022-04-30 08:30] uklotzde commented on #114
Ups, sorry. My fault, didn't look closely at the code and your previous experience :see_no_evil:

The code you posted is in fact copied from one of the examples. All examples compile and work, verified by 2 CI workflows, namely [pre-commit](https://github.com/slowtec/tokio-modbus/blob/master/.github/workflows/pre-commit.yaml) and [continuous_integration](https://github.com/slowtec/tokio-modbus/blo

[2022-04-30 08:40] uklotzde commented on #114
I just notices that the continuous_integration workflow is missing the `--all-targets` target selection. The examples are already checked in the pre-commit workflow by clippy, so this is not expected to reveal any hidden errors.

[2022-05-01 15:12] saturn77 commented on #114
Thanks for the feedback uklotzde.

I was able to get the tokio-modbus library to work for me in a design and there were a couple of issues.

1) Morphed the example code for tcp-sync with the  code in the document for tcp-sync and employed ? function
2) Added "features" of  sync and tcp in the Cargo.toml file ( Didn't see this in the Cargo.toml previoulsy)
3) Adjusted to using connect_slave as show

[2022-05-03 16:19] #114 closed

[2022-06-12 18:30] ssnover opened #115 "API Design on unstable tcp server: purpose of NewService trait"
Hello,

I'm running into some API ergonomic issues when trying to use the TCP server module part of this crate. I have attempted to extend the example `tcp-server.rs` with a new method:

[code]

The first issue I run into is this compiler error:
[code]
Fair enough, the architecture is built around the idea of a "callable" service. So I refactored to:
[code]
But then it gets very much in the way:
[

[2022-06-16 11:40] vita1it4 commented on #107
Did someone manage to run an example of reading modbus in synchronous mode? It doesn't work for me either, same error as described in the first post. The asynchronous read example works, but I need a synchronous one.

[2022-06-17 11:47] lanquil commented on #107
I did manage as suggested in https://github.com/slowtec/tokio-modbus/issues/107#issuecomment-996261254

[2022-06-21 07:03] vita1it4 commented on #107
This example doesn't work for me:
[code]

[2022-06-21 07:26] lanquil commented on #107
Have you brought into scope the correct Runtime object? `use tokio::runtime::Runtime;`

Can you post your code?

[2022-06-21 08:03] vita1it4 commented on #107
Here is my code:
[code]

[2022-06-21 08:14] lanquil commented on #107
I think you are missing tokio `rt-multi-thread` feature.

I have this in Cargo.toml:
[code]

[2022-06-21 08:29] vita1it4 commented on #107
Yes you are right. I'm missing tokio `rt-multi-thread` feature.
Now that I've added it, my code is working. And synchronous reading modbus now also works.
Thank you!

[2022-06-22 20:04] sirhcel commented on #107
#116 resolves this and the "vanilla" example works now out of the box.

[2022-06-22 20:04] #107 closed

[2022-07-01 07:47] jlsky commented on #59
tokio::select! {
    result = ctx.read_holding_registers(3,12) => match result {
        Ok(v) => println!("Reading holding {:?}", v),
        Err(_) => println!("Reading holding err"),
    },
    _ = tokio::time::sleep(std::time::Duration::from_millis(100)) => println!("reading timeout 100 ms"),
}

[2022-07-04 08:34] dragonnn opened #119 "Make TCP accept AsyncRead + AsyncWrite"
Hi!
Would you accept a PR with reworks Modbus TCP to allow to use AsyncRead + AsyncWrite?
As a TcpStream has too  AsyncRead + AsyncWrite so that shouldn't be hard to do.
Of course we could keep the current `connect` and `connect_slave` and just add `connect_slave_from_transport` or something like that.
My use case for that:
- doing some connecting setup before starting working with tokio-modbus, I

[2022-08-11 00:49] SteveBattista opened #122 "Question"
I'm using the async server. How can I put state into the server so that when I set a coil, I can look it up when a call read coil on my next call from a client?  Any examples?

[2022-08-19 01:07] #122 closed

[2022-08-19 01:07] SteveBattista commented on #122
I figured it out.

[2022-08-30 08:32] lanquil commented on #60
Any news on this subject? I've encountered this situation too. Sadly I think I'm not experienced enough to try to come up with a fix myself

[2022-08-30 09:40] MightyPork commented on #60
I'm still using the hack shown in the previous post, it's quite reliable but you of course need to copy the library to your project and add the patch locally. I don't see any change addressing this in the upstream code sadly

[2022-08-30 11:37] uklotzde commented on #60
Pull requests are welcome!

Unfortunately, we (the maintainers) cannot offer software development or consulting services for free.

[2022-08-31 09:43] lanquil commented on #60
Thanks for the feedback, this is fine, I will use what is available and in time I will try to understand the codebase.

[2022-09-01 13:59] vdominguez1993 opened #123 "Support for custom functions in RTU"
I have notices that custom functions are supported and there is even an example for TCP.

But I was testing in RTU and I found that the custom command is sent, but the response is never processed.
This is in part functions are not supported in:
```Rust fn get_response_pdu_len(adu_buf: &BytesMut) -> Result<Option<usize>>```

Additionally in this funcion some quick fix can be done for supporting exc

[2022-09-27 01:42] hhoswaldo opened #125 "Timeout for RTU sync connection?"

[2022-10-05 10:34] CosminPerRam commented on #125
Being able to set a timeout for the RTU sync connection would be useful (I also need it).

[2022-10-07 02:17] ShayBox opened #126 "Performance benchmarks compared to libmodbus"
I ran some benchmarks between `tokio-modbus` and `libmodbus`, here are my results.
I only tested reading multiple registers as this is my main use-case, maybe other actions would perform differently, test for your use-case.

[code]

115200 Baudrate:
[code]

230400 Baudrate:
[code]

I was unable to test higher as my serial device times out, but it's safe to say in this case there's no difference, a

[2022-10-08 13:21] CosminPerRam commented on #126
Thanks for doing this benchmark, happy to hear that `tokio_modbus` has absolute minimal (or non existent? every result is +/- 0.5% max (which I think is normal)) overhead against `libmodbus`.

[2022-10-09 08:45] ShayBox commented on #126
It does appear to have no difference, however I found I was able to achieve a step higher baud rate with Tokio mod us over libmodbus so it is faster for me. But I'm going over my serial devices max baud rate and encountering expected issues.

[2022-10-12 06:10] sadilekivan opened #127 "RTU Hardware flow control with RTS pin (half-duplex)"
I would like to toggle a RTS pin while sending out data from tx to control half duplex chips. I was able to do this with my own unfinished modbus library, but I'd really like to port my code to this one for it's additional tcp and async functionality.

I tried to look around the source, but am quite unsure how deep the serial transaction is handled. Should I rather look in the `mio_serial` crate,

[2022-10-14 13:02] sadilekivan commented on #127
So, after browsing many many unsuccessful forums threads on how to get a working UART with GPIO controlled RTS pin, I finally got it!

I knew the correct way to do this is via a kernel driver, but it took a long time to get it working so I first did it in userspace code, which I tried here too. I am running a Raspberry Pi 4 board with the PL011 connected to uart0 (GPIO 14 and 15). The **amba-pl011

[2022-10-14 13:02] #127 closed

[2022-10-25 08:43] raoulspronck opened #128 "More documentation for the server features"
Hi there,

I want to build an TCP modbus server to be able to connect multiple robots and machines in our machine park. I came across this tokio-modbus library for rust. I followed the examples to build an TCP Server but I'm missing some documentation about all the functions and how to implement them.

 got this from the documentation but is it really reading an register or do I need to implement

[2022-10-25 17:18] uklotzde commented on #125
See #130 for a possible extension.

[2022-10-28 14:55] cblackd7r opened #131 "Floating point support"
Hi, is it possible to pass a f32 float with quantity 2 via two u16 registers and only get 2 buffer values?  When I pass 2 u16's into the input register vector, it returns 4 buffer values in my modbus client.

[2022-11-02 14:40] lanquil commented on #60
I ended up wrapping each modbus read with `tokio::select!`, pairing it with a simple timer. If the timer finishes before the read it (and therefore the `select!`) returns an error.

A raw example:

[code]

I hope this can be useful to someone.

[2022-11-03 05:08] llamicron commented on #123
I would also appreciate this. I have some devices that don't provide register/coil addresses, they only specify a series of bytes to send (according to the Modbus RTU spec). Currently I'm using [`TTYPort::write()`](https://docs.rs/serialport/latest/serialport/struct.TTYPort.html#impl-Write) from the `serialport` crate, but it is no longer maintained and I'd like to move away from that if possible.

[2022-11-10 18:23] gustavowd opened #133 "MODBUS/TCP Security support (TLS)"
Hi. Congrats for the project.
Is it possible to add support for the new specification, the Modbus TCP Security, based on TLS?

Some of new protocols based on modbus are migrating for this modbus version, as the sunspec modbus protocol. The specification is available at:
<https://modbus.org/docs/MB-TCP-Security-v21_2018-07-24.pdf>

I beleive it can be implemented based on tokio-rustls.

Thanks in a